html{
  background-color: #E4F9F5;
}
.top_container{
  position: relative;
  padding-top: 5%;
}
body{
  letter-spacing: 2;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  font-family: 'Sacramento', cursive;
  font-size: 562.5%;       /* 100% = 16px = 1em  rem is root em i.e. ignore all the root setting and follow this */

}
h2{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
.mountain{
  width: 50%;
  position: relative;
  top:  100%;
}
.cloud_1{
  position: relative;
  left:20%;
}
.cloud_2{
  position: absolute;
  bottom: 40%;
}
.code{
  width: 15%;
}
.name{
  margin-bottom: 0;
  color: #66BFBF;
}
.intro{
  color: #66BFBF;
}
a{
  color: #11999E;
  text-decoration: none;
}
.code_img{
  width: 20%;
}
.excell{
  width: 20%;
}
.avtar{
  float: left;
}
.greet{
  padding-top: 20%;
  text-align: left;
  clear: right;
}
.intro_2{
    color: #66BFBF;
    text-align: left;
    clear: right;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-spacing: 10%;
    border-color: grey;
    border-width: 8px;
    width: 10%;
  }
.dots{
    clear: left;
  }
.btn{
  background-color: #11999E;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 2%;
  padding-left: 2%;
  color: white;
  margin-bottom: 2%;
  border-color: #11999E;
  border:1px solid;
  border-radius: 0.7rem;
}
.bottom-container{
  margin-top: 5%;
  padding-top: 5%;
  background-color: #66BFBF;
}
.alpha{
  color: white;
  font-size: 80%;
  padding-top: 5%;
  margin-bottom: 0;
}
.footer-link{
  padding-left: 1.5%;
  padding-right: 1.5%;
  margin-left: 5%;
}
